/* Coolors Exported Palette - https://coolors.co/258ea6-549f93-9faf90-e2b1b1-e2c2ff */

/* CSS HEX */
--pacific-cyan: #258ea6ff;
--verdigris: #549f93ff;
--muted-teal: #9faf90ff;
--cotton-rose: #e2b1b1ff;
--mauve: #e2c2ffff;

/* CSS HSL */
--pacific-cyan: hsla(191, 64%, 40%, 1);
--verdigris: hsla(170, 31%, 48%, 1);
--muted-teal: hsla(91, 16%, 63%, 1);
--cotton-rose: hsla(0, 46%, 79%, 1);
--mauve: hsla(271, 100%, 88%, 1);

/* SCSS HEX */
$pacific-cyan: #258ea6ff;
$verdigris: #549f93ff;
$muted-teal: #9faf90ff;
$cotton-rose: #e2b1b1ff;
$mauve: #e2c2ffff;

/* SCSS HSL */
$pacific-cyan: hsla(191, 64%, 40%, 1);
$verdigris: hsla(170, 31%, 48%, 1);
$muted-teal: hsla(91, 16%, 63%, 1);
$cotton-rose: hsla(0, 46%, 79%, 1);
$mauve: hsla(271, 100%, 88%, 1);

/* SCSS RGB */
$pacific-cyan: rgba(37, 142, 166, 1);
$verdigris: rgba(84, 159, 147, 1);
$muted-teal: rgba(159, 175, 144, 1);
$cotton-rose: rgba(226, 177, 177, 1);
$mauve: rgba(226, 194, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #258ea6ff, #549f93ff, #9faf90ff, #e2b1b1ff, #e2c2ffff);
$gradient-right: linear-gradient(90deg, #258ea6ff, #549f93ff, #9faf90ff, #e2b1b1ff, #e2c2ffff);
$gradient-bottom: linear-gradient(180deg, #258ea6ff, #549f93ff, #9faf90ff, #e2b1b1ff, #e2c2ffff);
$gradient-left: linear-gradient(270deg, #258ea6ff, #549f93ff, #9faf90ff, #e2b1b1ff, #e2c2ffff);
$gradient-top-right: linear-gradient(45deg, #258ea6ff, #549f93ff, #9faf90ff, #e2b1b1ff, #e2c2ffff);
$gradient-bottom-right: linear-gradient(135deg, #258ea6ff, #549f93ff, #9faf90ff, #e2b1b1ff, #e2c2ffff);
$gradient-top-left: linear-gradient(225deg, #258ea6ff, #549f93ff, #9faf90ff, #e2b1b1ff, #e2c2ffff);
$gradient-bottom-left: linear-gradient(315deg, #258ea6ff, #549f93ff, #9faf90ff, #e2b1b1ff, #e2c2ffff);
$gradient-radial: radial-gradient(#258ea6ff, #549f93ff, #9faf90ff, #e2b1b1ff, #e2c2ffff);